.btn{
	padding:10px 15px;
	color:white;
	
	margin: 4px;
	
}


.btn-primary{

	background-color:green;
	color:white;
	border-radius:8px;
	border-color:darkgreen;
	border-width:2px;
	border-style:solid;
	
	
}

.btn-secondary{
	background-color:lightgray;
	color:black;
	border-radius:8px;
	border-width:2px;
	border-style:solid;
	border-color:darkgray;


}

.btn-danger{
	
	background-color:red;
	color:white;
	border-style:solid;
	border-radius:8px;
	
	
	
}

